//Colors--------------------------
$Midnight-green: hsl(186, 98%, 17%);
$Light-coral: hsl(0, 87%, 73%);
$White: hsl(0, 0%, 100%);
$Rapture-blue: hsl(179, 42%, 63%);
$Police-blue: hsl(187, 41%, 29%);
$Deep-jungle-green: hsl(186, 100%, 14%);
$Sacramento-state-green: hsl(186, 96%, 10%);
$Dark-green: hsl(186, 100%, 8%);
//Font family ---------------------------
$font-fam: 'Livvic',
sans-serif;
//Font sizes ------------------------------
$h1-big: 100px;
$h1-small: 64px;
$h2-size: 48px;
$h3-size:18px;
$body1-size:18px;
$body2-size:15px;