* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Livvic", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #014d56;
}

.navbar {
  height: 90px;
  display: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.navbar .navbar-cont {
  display: flex;
  justify-content: start;
  height: 90px;
  max-width: 1600px;
}

.navbar .navbar-cont .navbar-logo {
  text-align: start;
  margin-left: 100px;
  margin-top: 25px;
  cursor: pointer;
  align-items: center;
}

.navbar .navbar-cont .navbar-logo img {
  align-self: start;
  height: 40px;
}

.navbar .navbar-cont .menu-icon {
  display: none;
}

.navbar .navbar-cont .fa-bars,
.navbar .navbar-cont .fa-times {
  color: white;
}

.navbar .nav-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 35px;
  list-style: none;
  text-align: center;
  justify-content: start;
  margin-left: 50px;
  align-items: center;
}

.navbar .nav-menu .nav-links {
  text-decoration: none;
  display: flex;
  align-items: center !important;
  justify-content: center;
  color: white;
  font-family: "Livvic", sans-serif;
}

.navbar .nav-menu .nav-links:hover {
  transition: all 0.3s ease;
  color: #f67e7e;
}

.navbar .nav-menu .nav-links-mobile {
  display: none;
}

.navbar .nav-menu .nav-links .nav-item:hover {
  cursor: pointer;
}

.navbar .nav-menu .transparent-btn {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

@media screen and (min-width: 756px) {
  .navbar .nav-menu .transparent-btn {
    position: absolute;
    right: 40px;
    top: 20px;
  }
}

.navbar .nav-menu .transparent-btn:hover {
  transition: all 0.2s ease-out;
  background-color: white;
}

.navbar .nav-menu .transparent-btn:hover .btn-link {
  color: #014d56 !important;
}

.top-home-cont {
  padding: 5% 7%;
}

@media screen and (max-width: 756px) {
  .top-home-cont .left {
    text-align: center;
  }
}

.top-home-cont .left h1 {
  font-size: 64px;
  font-weight: 300;
  color: white;
}

.top-home-cont .left h1.color {
  color: #f67e7e;
}

@media screen and (max-width: 756px) {
  .top-home-cont .right {
    text-align: center;
  }
}

.top-home-cont .right hr {
  width: 30px;
  height: 5px;
  background-color: #79c8c7;
  color: #79c8c7;
  margin-bottom: 5%;
}

@media screen and (max-width: 756px) {
  .top-home-cont .right hr {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .top-home-cont .right hr {
    margin-top: 5%;
    margin-bottom: 15%;
  }
}

.top-home-cont .right p {
  font-size: 18px;
  font-family: "Livvic", sans-serif;
  color: white;
  padding-right: 11%;
}

.features-cont {
  padding: 5% 7%;
  background-color: #012d32;
}

.features-cont .title-col {
  margin-bottom: 50px;
}

.features-cont .title-col hr {
  width: 30px;
  height: 5px;
  background-color: #f67e7e;
  color: #f67e7e;
  margin-bottom: 5%;
}

@media screen and (max-width: 1080px) {
  .features-cont .title-col hr {
    margin-top: 2%;
    margin-bottom: 9%;
  }
}

.features-cont .title-col h2 {
  font-size: 30px;
  font-family: "Livvic", sans-serif;
  color: white;
  font-weight: 300;
  padding-right: 35%;
}

@media screen and (max-width: 755px) {
  .features-cont .title-col h2 {
    padding-right: 40% !important;
  }
}

@media screen and (max-width: 1080px) {
  .features-cont .title-col h2 {
    padding-right: 18%;
  }
}

.features-cont .feat-col .feat-card {
  padding: 3%;
}

@media screen and (max-width: 755px) {
  .features-cont .feat-col .feat-card {
    text-align: center;
    padding-bottom: 30px;
  }
}

.features-cont .feat-col .feat-card .img-col {
  align-self: center !important;
}

.features-cont .feat-col .feat-card .img-col img {
  width: 60px !important;
}

@media screen and (max-width: 755px) {
  .features-cont .feat-col .feat-card .img-col {
    margin-bottom: 20px;
  }
}

.features-cont .feat-col .feat-card .feat-info-col h3 {
  font-size: 18px;
  font-family: "Livvic", sans-serif;
  color: #f67e7e;
  font-weight: 400;
  margin-bottom: 7px;
}

.features-cont .feat-col .feat-card .feat-info-col p {
  font-size: 15px;
  font-family: "Livvic", sans-serif;
  color: white;
  font-weight: 300;
  line-height: 1.5rem;
}

@media screen and (max-width: 755px) {
  .features-cont .feat-col .feat-card .feat-info-col p {
    padding: 0 5%;
  }
}

.opinions-cont {
  padding: 30% 7%;
}

@media screen and (min-width: 756px) {
  .opinions-cont {
    padding: 10% 7%;
  }
}

.opinions-cont h2 {
  font-size: 30px;
  text-align: center;
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}

@media screen and (min-width: 756px) {
  .opinions-cont h2 {
    margin-bottom: 30px;
  }
}

.opinions-cont h2.color {
  color: #79c8c7;
}

.opinions-cont .opinion-card {
  text-align: center;
}

.opinions-cont .opinion-card .quotes {
  position: relative;
  top: 30px;
  z-index: -1;
}

.opinions-cont .opinion-card p {
  font-size: 18px;
  color: white;
  font-weight: 300;
  padding: 0 7% 30px;
}

.opinions-cont .opinion-card p.position {
  margin-top: 10px;
  font-size: 15px;
}

.opinions-cont .opinion-card h3 {
  font-size: 18px;
  color: #79c8c7;
  font-weight: 400;
}

.opinions-cont .opinion-card .avatar {
  width: 80px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 20px;
}

.cta-cont {
  background-color: #f67e7e;
  padding: 5% 7%;
}

.cta-cont .text-col {
  color: #014d56;
}

@media screen and (min-width: 756px) {
  .cta-cont .text-col {
    padding-left: 5%;
  }
}

@media screen and (max-width: 756px) {
  .cta-cont .text-col {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 756px) {
  .cta-cont .btn-col {
    padding-left: 28%;
    margin-bottom: 50px;
  }
}

.cta-cont .btn-col .transparent-btn {
  height: 40px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid #014d56;
  background-color: transparent;
  color: #014d56;
}

.cta-cont .btn-col .transparent-btn:hover {
  transition: all 0.2s ease-out;
  background-color: #014d56;
  border-color: #014d56;
  color: white;
}

.footer-cont {
  background-color: #012d32;
  padding: 5% 7%;
}

@media screen and (max-width: 756px) {
  .footer-cont {
    text-align: center;
  }
}

.footer-cont img {
  height: 30px;
  margin-bottom: 15px;
}

.footer-cont .footer-link {
  margin-bottom: 20px;
}

.footer-cont .footer-link .links {
  cursor: pointer;
}

.footer-cont .footer-link .links:hover {
  transition: all 0.3s ease;
  color: #f67e7e !important;
}

@media screen and (max-width: 756px) {
  .footer-cont .footer-link .links.home {
    position: relative;
    left: 45px;
  }
}

@media screen and (max-width: 756px) {
  .footer-cont .footer-link .links.about {
    position: relative;
    left: -45px;
  }
}

.footer-cont .direction {
  color: white;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 25px;
}

@media screen and (max-width: 1080px) {
  .footer-cont .direction {
    text-align: end;
  }
}

@media screen and (max-width: 756px) {
  .footer-cont .direction {
    text-align: center;
  }
}

.footer-cont .hidden-social {
  display: none;
}

@media screen and (min-width: 756px) and (max-width: 1080px) {
  .footer-cont .hidden-social {
    display: block;
    color: white;
  }
  .footer-cont .hidden-social i {
    cursor: pointer;
    margin-right: 10px;
  }
  .footer-cont .hidden-social i:hover {
    transition: all 0.3s ease;
    color: #f67e7e;
  }
}

@media screen and (min-width: 756px) and (max-width: 1080px) {
  .footer-cont .social-cont .copy {
    text-align: end;
  }
}

.footer-cont .social-cont .copy p {
  font-size: 12px;
  color: white;
  font-family: "Livvic", sans-serif;
  font-weight: 300;
}

.footer-cont .social-cont .social-row {
  margin-bottom: 10px;
  display: block;
  color: white;
}

@media screen and (min-width: 1080px) {
  .footer-cont .social-cont .social-row {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 756px) and (max-width: 1080px) {
  .footer-cont .social-cont .social-row i {
    display: none;
  }
}

.footer-cont .social-cont .social-row i {
  cursor: pointer;
  margin-right: 10px;
}

.footer-cont .social-cont .social-row i:hover {
  transition: all 0.3s ease;
  color: #f67e7e;
}

.topAbout-cont {
  padding: 5% 7%;
}

.topAbout-cont h2 {
  font-size: 64px;
  font-family: "Livvic", sans-serif;
  font-weight: 400;
  color: white;
}

.topAbout-cont hr {
  width: 30px;
  height: 5px;
  background-color: #f67e7e;
  color: #f67e7e;
  margin-bottom: 5%;
}

@media screen and (max-width: 1080px) {
  .topAbout-cont hr {
    margin-top: 2%;
    margin-bottom: 9%;
  }
}

.topAbout-cont p {
  font-size: 18px;
  font-family: "Livvic", sans-serif;
  color: white;
  padding-right: 11%;
}
