//Colors--------------------------
$Midnight-green: hsl(186, 98%, 17%);
$Light-coral: hsl(0, 87%, 73%);
$White: hsl(0, 0%, 100%);
$Rapture-blue: hsl(179, 42%, 63%);
$Police-blue: hsl(187, 41%, 29%);
$Deep-jungle-green: hsl(186, 100%, 14%);
$Sacramento-state-green: hsl(186, 96%, 10%);
$Dark-green: hsl(186, 100%, 8%);
//Font family ---------------------------
$font-fam: 'Livvic',
sans-serif;
//Font sizes ------------------------------
$h1-big: 100px;
$h1-small: 64px;
$h2-size: 30px;
$h3-size:18px;
$body1-size:18px;
$body2-size:15px;
// General settings ----------------------
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-fam;
}

body {
    overflow-x: hidden;
    background-color: $Midnight-green;
}

// Navbar style------------------------------
.navbar {
    height: 90px;
    display: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    .navbar-cont {
        display: flex;
        justify-content: start;
        height: 90px;
        max-width: 1700px;
        .navbar-logo {
            text-align: start;
            margin-left: 20px;
            margin-top: 25px;
            cursor: pointer;
            align-items: center;
            img {
                align-self: start;
                height: 40px;
            }
        }
        .menu-icon {
            display: none;
        }
        .fa-bars,
        .fa-times {
            color: $White;
        }
    }
    .nav-menu {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 35px;
        list-style: none;
        text-align: center;
        justify-content: start;
        margin-left: 50px;
        align-items: center;
        .nav-links {
            text-decoration: none;
            display: flex;
            align-items: center !important;
            justify-content: center;
            color: $White;
            font-family: $font-fam;
            &:hover {
                transition: all 0.3s ease;
                color: $Light-coral;
            }
            &-mobile {
                display: none;
            }
            .nav-item {
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .transparent-btn {
            @media screen and (min-width: 756px) {
                position: absolute;
                right: 40px;
                top: 20px;
            }
            height: 40px;
            width: 150px;
            border-radius: 20px;
            cursor: pointer;
            border:1px solid $White;
            background-color:transparent;
            color:$White;
            &:hover {
                transition: all 0.2s ease-out;
                background-color: $White;
                .btn-link {
                    color: $Midnight-green !important;
                }
            }
        }
    }
}

//TopHome component ------------------------------------
.top-home-cont {
    padding: 5% 7%;
    .left {
        @media screen and (max-width: 756px) {
            text-align: center;
        }
        h1 {
            font-size: $h1-small;
            font-weight: 300;
            color: $White;
            &.color {
                color: $Light-coral;
            }
        }
    }
    .right {
        @media screen and (max-width: 756px) {
            text-align: center;
        }
        hr {
            @media screen and (max-width: 756px) {
                display: none;
            }
            width: 30px;
            height: 5px;
            background-color: $Rapture-blue;
            color: $Rapture-blue;
            @media screen and (max-width: 1080px) {
                margin-top: 5%;
                margin-bottom: 15%;
            }
            margin-bottom: 5%;
        }
        p {
            font-size: $body1-size;
            font-family: $font-fam;
            color: $White;
            padding-right: 11%;
        }
    }
}

//HomeFeatures component--------------------------------
.features-cont {
    padding: 5% 7%;
    background-color: $Sacramento-state-green;
    .title-col {
        margin-bottom: 50px;
        hr {
            width: 30px;
            height: 5px;
            background-color: $Light-coral;
            color: $Light-coral;
            @media screen and (max-width: 1080px) {
                margin-top: 2%;
                margin-bottom: 9%;
            }
            margin-bottom: 5%;
        }
        h2 {
            font-size: $h2-size;
            font-family: $font-fam;
            color: $White;
            font-weight: 300;
            @media screen and (max-width: 755px) {
                padding-right: 40% !important;
            }
            @media screen and (max-width: 1080px) {
                padding-right: 18%;
            }
            padding-right: 35%;
        }
    }
    .feat-col {
        .feat-card {
            @media screen and (max-width: 755px) {
                text-align: center;
                padding-bottom: 30px;
            }
            padding: 3%;
            .img-col {
                align-self: center !important;
                img {
                    width: 60px !important;
                }
                @media screen and (max-width:755px) {
                    margin-bottom: 20px;
                }
            }
            .feat-info-col {
                h3 {
                    font-size: $h3-size;
                    font-family: $font-fam;
                    color: $Light-coral;
                    font-weight: 400;
                    margin-bottom: 7px;
                }
                p {
                    font-size: $body2-size;
                    font-family: $font-fam;
                    color: $White;
                    font-weight: 300;
                    line-height: 1.5rem;
                    @media screen and (max-width: 755px) {
                        padding: 0 5%;
                    }
                }
            }
        }
    }
}

//HomeOpinions  component ------------------------
.opinions-cont {
    @media screen and (min-width: 756px) {
        padding: 10% 7%;
    }
    padding: 30% 7%;
    h2 {
        font-size: $h2-size;
        text-align: center;
        font-family: $font-fam;
        font-weight: 400;
        color: $White;
        @media screen and (min-width: 756px) {
            margin-bottom: 30px;
        }
        margin-bottom: 10px;
        &.color {
            color: $Rapture-blue;
        }
    }
    .opinion-card {
        text-align: center;
        .quotes {
            position: relative;
            top: 30px;
            z-index: -1;
        }
        p {
            font-size: $body1-size;
            color: $White;
            font-weight: 300;
            padding: 0 7% 30px;
            &.position {
                margin-top: 10px;
                font-size: $body2-size;
            }
        }
        h3 {
            font-size: $h3-size;
            color: $Rapture-blue;
            font-weight: 400;
        }
        .avatar {
            width: 80px;
            border: 2px solid $White;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }
}

//Cta component -------------------------------------
.cta-cont {
    background-color: $Light-coral;
    padding: 5% 7%;
    .text-col {
        @media screen and (min-width: 756px) {
            padding-left: 5%;
        }
        @media screen and (max-width: 756px) {
            text-align: center;
            padding-top: 10%;
            margin-bottom: 7%;
        }
        color: $Midnight-green;
    }
    .btn-col {
        @media screen and (max-width: 756px) {
            padding-left: 28%;
            margin-bottom: 50px;
        }
        .transparent-btn {
            height: 40px;
            width: 150px;
            border-radius: 20px;
            cursor: pointer;
            border: 1px solid $Midnight-green;
            background-color: transparent;
            color: $Midnight-green;
            &:hover {
                transition: all 0.2s ease-out;
                background-color: $Midnight-green;
                border-color: $Midnight-green;
                color: $White;
            }
        }
    }
}

//Footer component -------------------------
.footer-cont {
    background-color: $Sacramento-state-green;
    padding: 5% 7%;
    @media screen and (max-width: 756px) {
        text-align: center;
    }
    img {
        height: 30px;
        margin-bottom: 15px;
    }
    .footer-link {
        margin-bottom: 20px;
        .links {
            cursor: pointer;
            &:hover {
                transition: all 0.3s ease;
                color: $Light-coral !important;
            }
            &.home {
                @media screen and (max-width: 756px) {
                    position: relative;
                    left: 45px;
                }
            }
            &.about {
                @media screen and (max-width: 756px) {
                    position: relative;
                    left: -45px;
                }
            }
        }
    }
    .direction {
        @media screen and (max-width: 1080px) {
            text-align: end;
        }
        @media screen and (max-width: 756px) {
            text-align: center;
        }
        color: $White;
        font-size: $body2-size;
        font-weight: 300;
        margin-bottom: 25px;
    }
    .hidden-social {
        @media screen and (min-width: 756px) and( max-width: 1080px) {
            display: block;
            color: $White;
            i {
                cursor: pointer;
                margin-right: 10px;
                &:hover {
                    transition: all 0.3s ease;
                    color: $Light-coral;
                }
            }
        }
        display:none;
    }
    .social-cont {
        .copy {
            @media screen and (min-width: 756px) and( max-width: 1080px) {
                text-align: end;
            }
            p {
                font-size: 12px;
                color: $White;
                font-family: $font-fam;
                font-weight: 300;
            }
        }
        .social-row {
            @media screen and (min-width: 1080px) {
                margin-bottom: 40px;
            }
            margin-bottom: 10px;
            @media screen and (min-width: 756px) and( max-width: 1080px) {
                i {
                    display: none;
                }
            }
            display:block;
            color: $White;
            i {
                cursor: pointer;
                margin-right: 10px;
                &:hover {
                    transition: all 0.3s ease;
                    color: $Light-coral;
                }
            }
        }
    }
}